@if (wishlist().length === 0) {
    <span>Votre liste de souhait est vide</span>
} @else {
    <div>
        <p-table [value]="wishlist()">
            <ng-template pTemplate="header">
                <tr>
                    <th>Nom</th>
                    <th>Prix</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price.toFixed(2) }} €</td>
                    <td>
                        <p-button icon="pi pi-trash" severity="danger" (onClick)="onDelete(product)" />
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
}